body {
    margin: 0;
    padding: 0;
    height: 100vh;   
    font-family: 'Roboto', sans-serif;
}

.toolbar {
    height: 30px;
}

.container {
    max-height: calc(100vh-50px);
    display: flex;
    overflow-y: auto;
}

.menu {
    width: 25%;
    min-width: 300px;
    max-height: calc(100vh-50px);
    overflow-y: auto;
}

.center-children-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.editor {
    background-color: rgb(163, 163, 163);
    width: auto;
    padding: 20px;
    min-width: 75%;
}  

.visible-outline {
    background-color: white
}

.printable-area {
    background-color: rgb(255, 255, 255);
    position: relative;
}

.editor-rect {
    position: absolute;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0);
    text-align: justify;
}

.editor-rect:hover {
    border-style: dotted;
    border-width: 1px;
    border-color: rgb(192, 192, 192);
}

.highlighted {
    border-style: dotted;
    border-width: 1px;
    border-color: rgb(114, 114, 114);
}

.hidden {
    display: none;
}

.input-line {
    padding: 5px;
    display: flex;
    justify-content: stretch;
}

.input-line label {
    min-width: 100px;
}

.input-line input {
    width: 100%;
    margin-right: 5px;
}

.input-line .checkbox {
    width: 20px;
    height: 20px;
}

.input-line textarea {
    width: 100%;
    margin-right: 5px;
    min-height: 100px;
    resize: vertical;
}

.form-end-btn {
    width: 100%;
    height: 30px;
}

.print .highlighted {
    border-color: rgba(0, 0, 0, 0);
}
